#Archivos de Visual
.vs/
*.user
*.suo

#Achivos de compilacion
bin/
obj/

#Carpetas de cache
Logs/
*.log

#Archivos de entorno
appsettings.Development.json
secrets.json

Jornadas-Metalurgia-2026/wwwroot/